@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

/* Start Global Styles */

:root {
    --main_color: #1AA6B7;
    --white: #FFFFFF;
    --dark: #2C4250;
  }

body , html {
    font-family: 'Tajawal', sans-serif;
    background-color: var(--white);
}
body.error_body{
    background-color: var(--main_color) !important;
}
.header-fixed.subheader-fixed.subheader-enabled .wrapper {
    padding-top: 65px !important;
}
.back_sm_color {
    background-color: #1a1a27 !important;
}
.header_page {
    font-weight: bold !important;
    font-size: 16px !important;
}
.special_button {
    background-color: var(--main_color) !important;
    color: var(--white) !important;
    border: 1px solid var(--main_color) !important;
}
.special_button::after {
    color: var(--white) !important;
}

.special_button_dark {
    background-color: var(--dark) !important;
    color: var(--white) !important;
    border: 1px solid var(--dark) !important;
    transition: all .5s ease-in-out !important;
}

.special_button_dark:hover {
    background-color:  rgba(51, 51, 51, 0.8) !important;
}
.form-control:focus , .form-control:active {
    border: 1px solid var(--main_color) !important;
}
.navi-header {
    color: var(--dark) !important;
}
.navi-link:hover {
    background-color: var(--main_color) !important;
}
.navi-link:hover span , .navi-link:hover span i {
    color: var(--white) !important;
}
.datatable-head {
    background-color: var(--main_color) !important;
}
.datatable-head tr th span {
    color: var(--white) !important;
}
.flaticon2-arrow-up::before,.flaticon2-arrow-down , .flaticon2-arrow-up , .flaticon2-arrow-up::before {
    color: var(--white) !important;
}
.datatable-pager-link-active , .datatable-pager-link:hover {
    background-color:  var(--main_color) !important;
}
.btn-icon {
    background-color:  #DDD !important;
    color: var(--white) !important;
    border-radius: 50% !important;
}
.scrolltop {
    background-color: var(--main_color)  !important;
}
.btn-icon .svg-icon {
    color: var(--white) !important;
}
.user_dropdown {
    background-color: transparent !important;
    color: var(--white) !important;
}
.user_dropdown::after {
    color: var(--white) !important;
}
.user_image {
    border-radius: 50% !important;
}
.checkbox>input:checked~span {
    background-color: var(--dark) !important;
}
.checkbox {
    margin-bottom: 10px !important;
}
.form-group label {
    font-weight: 500 !important;
}
.card-body {
    padding-top: 10px !important;
}
.menu-item .selected{
    color: var(--main_color) !important;
}
.link-active.selected:hover {
    color: red !important;
    background-color: var(--main_color) !important;
}
/* End Global Styles */


/***********************************************************/

/* Start SideBar */
/* .link-active {
    background-color: var(--main_color) !important;
    color: #FFF !important;
}
.link-active i , .link-active span {
    color: #FFF !important;
} */
.menu-item .menu-text,
.menu-item .menu-icon {
    color: #f6e5e5 !important;
}
.menu-section .menu-text {
    color: var(--main_color) !important;
    font-weight: bold !important;
}
.aside-menu .menu-nav>.menu-section {
    margin: 10px 0 0 0 !important;
    height: 10px !important;
    background-color: #454545 !important;
    padding-top: 15px;
    padding-bottom: 15px;
}
/* End SideBar */

/***********************************************************/

/* Start Footer */
.text-dark {
    width: 100% !important;
}
.text-dark a {
    color: #d06666 !important;
    font-size: 13px;
    font-weight: bold;
}
.text-dark a:hover {
    color: #d06666 !important;
}
/* End Footer */

/***********************************************************/

/* Start Login Page */
.login_page {
    background-image: url("../images/login-cover.jpg") !important;
    background-size: cover !important;
    
}
.login-form h3 {
    text-align: center;
    color: var(--main_color) !important;
    font-size: 30px !important;
}
.login-form label {
    color: var(--white) !important;
    font-weight: 400 !important;
    color: var(--main_color) !important;
    margin-bottom: 10px !important;
}
.login-form .form-control {
    outline: none !important;
    font-size: 15px;
    border: none !important;
    border-radius: 40px !important;
    background-color: var(--white) !important;
    padding: 11px !important;
}
.login-form .form-control:focus {
    background-color: var(--white) !important;
}

.login-form .kt_login_signin_submit {
    border-radius: 40px !important;
    background-color: var(--main_color) !important;
    color: var(--white);
    border: 1px solid var(--main_color) !important;
    transition: all 0.5s ease-in-out !important;
}
.login-form .kt_login_signin_submit:hover {
    background-color: transparent !important;
    color: var(--main_color) !important;
}
.login-form .forget_password_and_new_account a {
    margin-bottom: 10px !important;
    display: inline-block;
    font-size: 14px !important;
    color: var(--white) !important;
}
/* End  Login Page */

/***********************************************************/

/* Start Moderators Page */

/* End Moderators Page */

/***********************************************************/


/* Start Error Page */
.error {
    background-color: var(--white) !important;
}
.error_page .error-title {
    color: var(--main_color) !important;
}
.error_page .error-subtitle {
    color: var(--dark) !important;
    font-size: 25px !important;

}
.error_page #kt_login_signin_submit {
    /* margin: auto !important; */
    display: inline-block !important;
    margin: auto;
    text-align: center !important;
}
/* End Error Page */

/***********************************************************/



/* Start Crud Client */
.client_title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 20px;
    display: inline-block;
    color: var(--main_color);
}
/* End Crud Client */

/***********************************************************/
